<div>
  <br />
  <div class="container">
    <div
      fxLayout="column"
      fxLayoutGap="20px"
      fxLayoutAlign="space-around center"
      class="content"
    >
      <div class="blocks">
        <button
        routerLink="/login"
        mat-raised-button color="primary"
        *ngIf="!authenticationService.isLoggedIn()">
          Login
        </button>
        <button
        routerLink="/profile"
        mat-raised-button color="primary"
        *ngIf="authenticationService.isLoggedIn()">
          View Applications
        </button>
      </div>
      <div class="blocks">
        <button
        routerLink="/register"
        mat-raised-button color="primary"
        *ngIf="!authenticationService.isLoggedIn()">
          Register
        </button>
        <button
        routerLink="/details"
        mat-raised-button color="primary"
        *ngIf="authenticationService.isLoggedIn()">
          Add Application
        </button>
      </div>
    </div>
  </div>
</div>
