mat-spinner {
  margin: 0 auto;
}

.card {
  min-width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.form > * {
  width: 90%;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
