<div>
  <br />
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Register</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="form-container mat-elevation-z8">
              <form class="form">
                <mat-form-field>
                  <input
                    matInput
                    type="name"
                    name="name"
                    placeholder="Enter Your Name"
                    [(ngModel)]="credentials.name"
                  />
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    type="email"
                    name="email"
                    placeholder="Enter Email"
                    [(ngModel)]="credentials.email"
                  />
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    [(ngModel)]="credentials.password"
                  />
                </mat-form-field>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="container">
        <div
          fxLayout="column"
          fxLayoutGap="20px"
          fxLayout.gt-md="row"
          fxLayoutAlign="space-around center"
          class="content"
        >
          <div class="blocks">
            <button (click)="register()" mat-raised-button color="primary">
              Register
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
