<div>
  <br />
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Login</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="form-container mat-elevation-z8">
              <form class="form"
              [formGroup]="loginFormGroup">
                <mat-form-field>
                  <input
                    matInput
                    type="email"
                    formControlName="email"
                    placeholder="Enter Email"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-error *ngIf="loginFormGroup.controls.email.hasError('email') && !loginFormGroup.controls.email.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginFormGroup.controls.email.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    type="password"
                    formControlName="password"
                    placeholder="Enter Password"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-error *ngIf="loginFormGroup.controls.password.hasError('minlength') && !loginFormGroup.controls.password.hasError('required')">
                      Password must be at least {{loginFormGroup.controls.password.errors.minlength.requiredLength}} characters
                    </mat-error>
                    <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="container">
        <div
          fxLayout="column"
          fxLayoutGap="20px"
          fxLayout.gt-md="row"
          fxLayoutAlign="space-around center"
          class="content"
        >
          <div class="blocks">
            <button (click)="login()" mat-raised-button color="primary">
              Login
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
